@{
    ViewData["Title"] = "Home Page";
}
<div style="margin-top: 25px; text-align: center;">
   Url: <input id="urlInput" /><button type="button" id="submitUrl">Open</button>
</div>
<div style="border: 10px groove brown; margin-top: 25px; box-shadow: 10px 10px 5px #888888;">
   <canvas id="imageView" width="578" height="400"></canvas>
</div>
<div style="margin-top: 25px; text-align: center; vertical-align: middle;">
   <canvas id="colorCircleRed" style="width:50px; height: 50px; vertical-align: middle;"></canvas>
   <canvas id="colorCircleOrange" style="width:50px; height: 50px; vertical-align: middle;"></canvas>
   <canvas id="colorCircleYellow" style="width:50px; height: 50px; vertical-align: middle;"></canvas>
   <canvas id="colorCircleGreen" style="width:50px; height: 50px; vertical-align: middle;"></canvas>
   <canvas id="colorCircleBlue" style="width:50px; height: 50px; vertical-align: middle;"></canvas>
   <canvas id="colorCirclePurple" style="width:50px; height: 50px; vertical-align: middle;"></canvas>
   <canvas id="colorCirclePink" style="width:50px; height: 50px; vertical-align: middle;"></canvas>
</div>
<button>Next</button>
<script src="~/js/ColoringBook.js"></script>
