@{
    ViewData["Title"] = "Home Page";
}
<div style="margin-top: 25px; text-align: center;">
    <label>Url:</label>
    <input class="url-input" id="urlInput"/>
    <button type="button" class="btn btn-default btn-sm" id="submitUrl">Open</button>
</div>
<div class="image-viewer-container">
   <canvas id="imageView" width="578" height="400"></canvas>
</div>
<div class="color-picker-container">
   <canvas class="color-picker" id="colorCircleRed"></canvas>
   <canvas class="color-picker" id="colorCircleOrange"></canvas>
   <canvas class="color-picker" id="colorCircleYellow"></canvas>
   <canvas class="color-picker" id="colorCircleGreen"></canvas>
   <canvas class="color-picker" id="colorCircleBlue"></canvas>
   <canvas class="color-picker" id="colorCirclePurple"></canvas>
   <canvas class="color-picker" id="colorCirclePink"></canvas>
</div>
<script src="~/js/ColoringBook.js"></script>
